* {
  margin: 0 auto;
  list-style: none;
  line-height: 1.5;
}
body {
  background-color: grey;
}

.letter {
  width: 612px;
  height: 792px;
  margin: 0 auto;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  font-weight: 500;
}

.container-izq {
  float: left;
  width: 214.2px;
  height: 792px;
  background-image: linear-gradient(15deg, #296ca3 0%, #0d3050 100%);
  background-size: cover;
  color: white;
}

.container-der {
  float: right;
  width: 397.8px;
  height: 792px;
  background-color: #fff;
}

.bloque-izq {
  height: 772.8px;
  margin: 10px;
}

.bloque-der {
  height: 792.8px;
  margin: 10px;
}

div .foto-perfil {
  margin: 0;
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
  margin: 10px;
  margin-top: 15px;
  margin-bottom: 40px;
}

.bloque {
  /* width: 194.1px; */
  font-family: 'PT Serif', serif;
  margin: 0px;
  /* padding: 10px; */
}

div {
  margin: 0px;
}

ul {
  padding-left: 0px;
  margin-left: 0px;
}

.contacto li, .habilidades {
  font-size: 11px;
  font-style: italic;
}

h3 {
  font-size: 14px;
}

strong, em, p {
  font-size: 11px;
}

.bloque .list li {
  font-style: none !important; 
  font-size: 11px;
}

.ob-person {
  font-style: italic;
  font-size: 11px;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.barra-perfil {
  padding-bottom: 30px;
}

.container-izq:hover {
  transform: scale(1.03);
  box-shadow: 4px 0 8px 0 rgb(112, 110, 110)
}

/* #profesion:hover {
  display: block;
  background-color: #fff;
  color: rgb(0, 0, 0);
  transition: all 0.;
  width: 204.2px;
  text-align: left;
  margin-left: -10px;
  padding-left: 10px;
  transform: none;
} */